  <div class="row col-md-12 main-section">
    <div class="col-md-12">
        <div class="main-card mb-3 bg-light card">
            <div class="card-header text-black">Lista de Empleados
            </div>
            <div class="table-responsive">
              <table class="table table-table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Rut</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Teléfono</th>
                      <!-- <th>Accion</th> -->
                    </tr>
                  </thead>
                  <tr *ngFor="let empleado of empleados| paginate: { itemsPerPage: 6, currentPage: p }" >
                    <td>{{empleado.rut}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.telefono}}</td>
                    <!-- <td><button class="btn btn-danger btn-sm">Bloquear</button></td> -->
                  </tr>
                </table>
            </div>


        </div>
    </div>
</div>
<div style="margin-top: 3%;" class="row">
  <div class="mx-auto">

    <pagination-controls (pageChange)="p = $event"  maxSize="9" previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>
  </div>
</div>
