  <div class="row col-md-12 main-section">
    <div class="col-md-12">
        <div class="main-card mb-3 bg-light card">
            <div class="card-header text-black">Lista de Empleados
            </div>
            <div class="card-header text-white text-xl-center text-capitalize">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control bg-dark text-white" placeholder="Buscar...">
                    </div>
                    <button type="submit" class="btn btn-outline-primary bg-dark "><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="table-responsive">
              <table class="table table-table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Rut</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Telefono</th>
                    </tr>
                  </thead>
                  <tr *ngFor="let empleado of empleados" >
                    <td>{{empleado.idempleado}}</td>
                    <td>{{empleado.rut}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.telefono}}</td>
                  </tr>
                </table>
            </div>


        </div>
    </div>
</div>
<div class="row">
<div class=" col-md-6 text-right">
  <button class="btn btn-outline-primary" (click)="resPag(page)"><i class="fas fa-chevron-left"></i></button>

</div>
<div class=" col-md-6">
  <button class="btn btn-outline-primary" (click)="sumPag(page)"><i class="fas fa-chevron-right"></i></button>

</div>
<div class="mx-auto">

<pre>Pagina Actual: {{page}}</pre>
</div>
</div>
