
<div>
  <header class="masthead" [ngStyle]="{'background-image': getServiciosImg()}">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Servicios</h1>
                </div>
            </div>
        </div>
    </div>
  </header>

  <!-- Contenido Principal -->
  <div class="container">
    <!-- Proyecto -->
    <div class="row project">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid" src="../../../../assets/img/mant.jpg" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">Nuestros servicios</h2>
            <p>Reservas online para mantención y reparacion de vehículos</p>
            <p>Cambios de aceite</p>
            <p>Aliniación<p>
            <p>Mantención por Kilometraje</p>
            <p>Reparación Diferenciales</p>
            <p>Scanner</p>
            <p>¡Estos y muchos más servicios de exelencia para que mantenga su vehículo en las mejores condiciones!</p>
        </div>
    </div>
  </div>
</div>


  <app-footer></app-footer>
