<div class="col-xl-10 col-md-10 mb-4 mx-auto">
  <div class="card border-left-success shadow h-100 py-2">
    <div style="background-color: white;" class="card-header text-black"><h6>Reservas</h6>
    </div>
      <div class="card-body">
                  <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                      <thead>
                          <tr>
                              <th class="text-center">#</th>
                              <th>Name</th>
                              <th class="text-center">Servicio</th>
                              <th class="text-center">Fecha</th>
                              <th class="text-center">Hora</th>
                              <th class="text-center">Total</th>
                              <th class="">Estado</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="text-center text-muted">#345</td>
                              <td>
                                  <div class="widget-content p-0">
                                      <div class="widget-content-wrapper">
                                          <div class="widget-content-left flex2">
                                              <div class="widget-heading">John Doe</div>
                                          </div>
                                      </div>
                                  </div>
                              </td>
                              <td class="text-center">Cambio Aceite</td>
                              <td class="text-center">20/03/2020</td>
                              <td class="text-center">14:30</td>
                              <td class="text-center">$8.000</td>
                              <td>
                                  <div class="row mx-auto">
                                    <button type="button" class="btn btn-outline-info btn-sm" (click)="estadoReserva()">
                                      Seleccionar
                                    </button>
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <td class="text-center text-muted">#347</td>
                              <td>
                                  <div class="widget-content p-0">
                                      <div class="widget-content-wrapper">
                                      </div>
                                      <div class="widget-content-left flex2">
                                          <div class="widget-heading">Ruben Tillman</div>
                                      </div>
                                  </div>

              </td>
              <td class="text-center">Liquido Frenos</td>
              <td class="text-center">15/03/2020</td>
              <td class="text-center">17:45</td>
              <td class="text-center">$16.500</td>
              <td>
                  <div class="row mx-auto">
                    <button type="button" class="btn btn-outline-info btn-sm" (click)="estadoReserva()">
                      Seleccionar
                    </button>
                  </div>
              </td>
              </tr>
              <tr>
                  <td class="text-center text-muted">#321</td>
                  <td>
                      <div class="widget-content p-0">
                          <div class="widget-content-wrapper">
                          </div>
                          <div class="widget-content-left flex2">
                              <div class="widget-heading">Elliot Huber</div>
                          </div>
                      </div>

          </td>
          <td class="text-center">Neumaticos</td>
          <td class="text-center">26/03/2020</td>
          <td class="text-center">17:45</td>
          <td class="text-center">$9.500</td>
          <td>
              <div class="row mx-auto">
                <button type="button" class="btn btn-outline-info btn-sm" (click)="estadoReserva()">
                  Seleccionar
                </button>
              </div>
          </td>
          </tr>
          </tbody>

          </table>
      </div>
  </div>
</div>
