<div class="col-xl-12 col-md-12 mb-4 mx-auto">
  <div class="card border-left-success shadow h-100 py-2">
    <div style="background-color: white;" class="card-header text-black"><h6>Reservas</h6>
    </div>
      <div class="card-body">
                  <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                      <thead>
                          <tr>
                              <th class="text-center">Id reserva</th>
                              <th class="text-center">Servicios</th>
                              <th class="text-center">Productos</th>
                              <th class="text-center">Fecha</th>
                              <th class="text-center">Hora</th>
                              <th class="text-center">Vehiculo</th>
                              <th class="">Estado</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let reserva of reservas">
                              <td class="text-center text-muted">{{reserva.idreserva}}</td>
                              <td class="text-center text-muted">{{reserva.servicios}}</td>
                              <td class="text-center text-muted">{{reserva.productos}}</td>
                              <td class="text-center text-muted"> {{ reserva.fechareserva | date }}</td>
                              <td class="text-center text-muted"> {{ reserva.horareserva }}</td>
                              <td class="text-center text-muted"> {{ reserva.marca }} {{reserva.veichulo}} {{reserva.patente}}</td>
                              <td class="text-center text-muted">{{reserva.estado}}</td>
                              <td></td>
                              <td>
                                  <div class="row mx-auto">
                                    <button type="button" class="btn btn-outline-info btn-sm" (click)="estadoReserva()">
                                      Seleccionar
                                    </button>
                                  </div>
                              </td>
                          </tr>

          </tbody>

          </table>
      </div>
  </div>
</div>

