<div class="row col-md-12 main-section">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header light text-black">Reservas
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-ligth table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Auto</th>
                            <th class="text-center">Servicio</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Hora</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">Nissan 350Z</td>
                            <td class="text-center">Cambio Aceite</td>
                            <td class="text-center">20/03/2020</td>
                            <td class="text-center">18:00</td>
                            <td class="text-center">$8.000</td>
                        </tr>
                        <tr>
                            <td class="text-center">Audi TT</td>
                            <td class="text-center">Cambio Neumaticos</td>
                            <td class="text-center">24/01/2020</td>
                            <td class="text-center">15:45</td>
                            <td class="text-center">$4.000</td>
                        </tr>
                        <tr>
                            <td class="text-center">Nissan 350Z</td>
                            <td class="text-center">Cambio Bujias</td>
                            <td class="text-center">22/01/2020</td>
                            <td class="text-center">17:50</td>
                            <td class="text-center">$15.000</td>
                        </tr>
                        <tr>
                            <td class="text-center">Audi TT</td>
                            <td class="text-center">Cambio Tubo Escape</td>
                            <td class="text-center">20/09/2019</td>
                            <td class="text-center">14:30</td>
                            <td class="text-center">$29.990</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Content Row -->
    </div>
</div>
