<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <div class="sidebar-heading"><img src="img/Logos/3bc207bc-25b4-45a0-a61a-019dd07742d2.jpg" class="img-fluid" alt=""> </div>
            <div></div>
            <a href="clientelog.html" class=" list-group-item text-dark list-group-item-action bg-light"><i class="fas fa-calendar-check"></i> Reservar</a>
            <a href="clienteDatosEdit.html" class="list-group-item text-dark list-group-item-action bg-light"><i class="fas fa-user-edit"></i> Edita tus datos</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <button class="btn bg-light" id="menu-toggle"><i class="fas fa-bars "></i></button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fas fa-user-alt"></i><span></span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cliente
          </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Ajustes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="login.html">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="modal-dialog modal-lg text-center ">
            <div class="col-lg-12">
                <div class="modal-content">
                    <div class="col-12">
                        <h5 class="text-white">Agenda tu reserva</h5>
                        <hr class="white">
                    </div>
                    <form>
                        <div class="form-row">
                            <div class="col-md-6 " id="dni-group">
                                <label>Servicio</label>
                                <select class="form-control form-group" id="">
                                    <option>Cambio de aceite</option>
                                    <option>Lorem, ipsum dolor.</option>
                                    <option>Lorem ipsum dolor sit.</option>
                                    <option>Lorem, ipsum.</option>
                                    <option>Lorem.</option>
                                  </select>
                            </div>
                            <div class=" col-md-6">
                                <label>Día y Hora de tu reserva</label>
                                <input type="datetime-local" class="form-control text-center" id="datetime">
                            </div>

                        </div>

                        <div class="form-row ">
                            <div class=" col-md-4">
                                <label>Marca de tu auto</label>
                                <input class="form-control" type="text" placeholder="Marca">
                            </div>
                            <div class=" col-md-4">
                                <label>Modelo de tu auto</label>
                                <input class="form-control" type="text" placeholder="Modelo">
                            </div>
                            <div class="col-md-4 ">
                                <label>Tipo De auto</label>
                                <select class="form-control form-group " id=" ">
                                    <option>Sedán</option>
                                    <option>Lorem, ipsum dolor.</option>
                                    <option>Lorem ipsum dolor sit.</option>
                                    <option>Lorem, ipsum.</option>
                                    <option>Lorem.</option>
                                  </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-4 ">
                                <label>Año del vehículo</label>
                                <input class="form-control " type="number" placeholder="Año">
                            </div>
                            <div class=" col-md-4">
                                <label>Patente</label>
                                <input class="form-control " type="text" placeholder="Patente">
                            </div>
                            <div class=" col-md-4">
                                <label>Numéro de chasís (Opcional)</label>
                                <input class="form-control " type="text" placeholder="Numero Chasis">
                            </div>


                        </div>
                        <br>

                        <button type="submit " class="btn btn-success " style="margin-right: 10px; ">Agendar</button>

                        <button type="submit " class="btn btn-danger ">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>