<div class="col-xl-8 col-md-8 mb-4 mx-auto">
  <div class="card border-left-primary shadow h-100 py-2">
    <div style="background-color: white;" class="card-header text-black"><h6>Registrar empleado</h6>
    </div>
      <div class="card-body">
  <div class="container" style="margin-top: 5%;">

    <form class="col-12" (ngSubmit)="signUpWork()" name="formRegister">


      <div class="input-group mb-3 col-md-8 mx-auto">
        <div class="input-group-prepend ">
          <span class="input-group-text "><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="user.name" name="nombre" required />
      </div>
      <div class="input-group mb-3 col-md-8 mx-auto">
        <div class="input-group-prepend ">
          <span class="input-group-text "><i class="fas fa-at "></i></span>
        </div>
        <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="user.email" name="email" required />
      </div>

      <div class="input-group mb-3 col-md-8 mx-auto">
        <div class="input-group-prepend ">
          <span class="input-group-text "><i class="fas fa-lock "></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password" id="password1" name="password1" required />
      </div>

      <div class="input-group mb-3 col-md-8 mx-auto ">
        <div class="input-group-prepend ">
          <span class="input-group-text "><i class="fas fa-lock "></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Confirma tu contraseña" [(ngModel)]="user.password2" id="password2" name="password2" required />
      </div>
      <div class="form-check">
        <div class="text-center">
          <input type="checkbox" class="form-check-input primary" name="empresaCheck" id="chkEmpresa">
          <label class="text-black-50" for="chkEmpresa">¿Registrar nuevo Administrador?</label>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="col-sm-6 btn btn-primary btn-block my-2 mx-auto"><i class="fas fa-sign-in-alt"></i>  Registrar </button>
      </div>
  </form>

  </div>
</div>
</div>
</div>
