<div class="text-center">
    <div class="col-lg-12">
        <div class="container">
            <div class="col-12">
                <h3>Agenda tu reserva</h3>
                <hr class="white">
            </div>
            <form (ngSubmit)="agregarReserva()" class="col-12">
                <div class="form-row">
                    <div class="col-md-4 " id="dni-group">
                        <label>Servicios</label>
                        <select [(ngModel)]="servicio" name="servicio" class="custom-select" (change)="cargaBox()">
                          <option *ngFor="let servicio of servicios" [ngValue]="servicio">{{servicio.nombre}}</option>

                        </select>

                    </div>

                    <div class=" col-md-4">
                        <label>Productos</label>
                        <select [(ngModel)]="producto" name="producto" class="custom-select">
                                <option *ngFor="let producto of productos" [ngValue]="producto">{{producto.nombre}}</option>

                      </select>

                    </div>
                    <div class=" col-md-4">
                        <label>Tus vehículos</label>
                        <select [(ngModel)]="vehiculo" name="vehiculo" class="custom-select">
                                <option *ngFor="let vehiculo of vehiculos" [ngValue]="vehiculo">{{vehiculo.marca}} {{vehiculo.modelo}} {{vehiculo.idvehiculo}}</option>

                      </select>

                    </div>
                    <div class="col-md-4 ">

                        <label>Día y Hora de tu reserva</label>
                        <input type="datetime-local" class="form-control text-center" id="datetime">

                        <!-- <input type="datetime-local" class="form-control" id="date1" [(ngModel)]="dateBefore" step="1" /> -->
                    </div>
                </div>




                <!-- <div id="mostrarAuto" style="display: none;">
                    <div class="form-row">
                        <div class="col-md-6 mx-auto">
                            <label>Escoje tu Auto</label>
                            <select class="form-control form-group" id="">
                              <option>Seleccionar</option>
                              <option>Audi TT HPRF89</option>
                              <option>Nissan 350Z CRDY96</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" style="margin-top: 10px;" class="mx-auto btn btn-outline-info btn-sm" value="Ocultar" onclick="mostrar()">No está tu auto?</button>
                </div>
                <br> -->


                <div class="text-center">
                    <button type="submit" class="col-sm-4 btn btn-success btn-block my-4 mx-auto"><i class="fas fa-plus"></i>  Agendar reserva </button>
                </div>
            </form>

            <form>
                <div class="form-group form-inline">
                    Buscar: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
                    <span class="ml-3" *ngIf="service.loading$ | async">Cargando...</span>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col" sortable="patente" (sort)="onSort($event)">Patente</th>
                            <th scope="col" sortable="marca" (sort)="onSort($event)">vehículo</th>
                            <th scope="col" sortable="modelo" (sort)="onSort($event)">Marca</th>
                            <th scope="col" sortable="nrochasis" (sort)="onSort($event)">Fecha</th>
                            <!-- <th>Acción</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let res2 of reservaResponse$ | async">
                            <!-- <th scope="row">{{ car.idvehiculo }}</th> -->
                            <td>
                                <ngb-highlight [result]="res2.patente" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="res2.veichulo" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="res2.marca" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="res2.fechareserva" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <!-- <td>
                                <button class="btn btn-danger btn-sm" (click)="borrarVehiculo()">Eliminar</button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
              <option [ngValue]="3">3 reserva por pagina</option>
              <option [ngValue]="5">5 reserva por pagina</option>
              <option [ngValue]="10">10 reserva por pagina</option>
            </select>
                </div>

            </form>
            <!-- Button trigger modal -->
        </div>
    </div>
</div>
