<div class="col-xl-10 col-md-10 mb-4 mx-auto">
    <div class="card border-left-primary shadow h-100 py-2">
        <div style="background-color: white;" class="card-header text-black">
            <h6>Reservar</h6>
        </div>
        <div class="card-body">
            <form (ngSubmit)="agregarReserva()" class="col-12">
                <div class="form-row">

                    <!-- SERVICIO -->
                    <div class="col-md-4 " id="dni-group">
                        <label>Servicios</label>
                        <select [(ngModel)]="servicio" name="servicio" class="custom-select" (change)="cargaBox()">
                          <option *ngFor="let servicio of servicios" [ngValue]="servicio">{{servicio.nombre}} {{moneda}}{{servicio.valorbase|number}}</option>

                        </select>

                    </div>

                    <!-- PRODUCTOS -->
                    <div class=" col-md-4">
                        <label>Productos</label>
                        <select [(ngModel)]="producto" name="producto" class="custom-select">
                                <option *ngFor="let producto of productos" [ngValue]="producto">{{producto.nombre}} {{moneda}}{{producto.valorbase|number}}</option>

                      </select>

                    </div>
                    <div class=" col-md-4">
                        <label>Tus vehículos</label>
                        <select [(ngModel)]="vehiculo" name="vehiculo" class="custom-select">
                                <option *ngFor="let vehiculo of vehiculos" [ngValue]="vehiculo">{{vehiculo.marca}} {{vehiculo.modelo}}   Patente: {{vehiculo.patente|uppercase}}</option>

                      </select>

                    </div>
                    <div class="col-md-6 mx-auto">

                        <label>Día y Hora de tu reserva</label>
                        <input type="datetime-local" class="form-control text-center" id="datetime">

                        <!-- <input type="datetime-local" class="form-control" id="date1" [(ngModel)]="dateBefore" step="1" /> -->
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="col-sm-4 btn btn-success btn-block my-4 mx-auto"><i class="fas fa-plus"></i>  Agendar reserva </button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr style="margin: 3%;">


<div class="col-xl-10 col-md-10 mb-4 mx-auto">
    <div class="card border-left-info shadow h-100 py-2">
        <div style="background-color: white;" class="card-header text-black">
            <h6>Tus reservas</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group form-inline">
                    Buscar: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
                    <span class="ml-3" *ngIf="service.loading$ | async">Cargando...</span>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col" sortable="patente" (sort)="onSort($event)">Patente</th>
                            <th scope="col" sortable="marca" (sort)="onSort($event)">vehículo</th>
                            <th scope="col" sortable="modelo" (sort)="onSort($event)">Marca</th>
                            <th scope="col" sortable="nrochasis" (sort)="onSort($event)">Fecha</th>
                            <th scope="col" sortable="totalreserva" (sort)="onSort($event)">Total</th>
                            <!-- <th>Acción</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let res2 of reservaResponse$ | async">
                            <!-- <th scope="row">{{ car.idvehiculo }}</th> -->
                            <td>
                                <ngb-highlight [result]="res2.patente|uppercase" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="res2.veichulo" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="res2.marca" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="res2.fechareserva" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <td>
                                <ngb-highlight [result]="res2.totalreserva" [term]="service.searchTerm"></ngb-highlight>
                            </td>
                            <!-- <td>
                                <button class="btn btn-danger btn-sm" (click)="borrarVehiculo()">Eliminar</button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>

                <div class="d-flex justify-content-between p-2">
                    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                    </ngb-pagination>

                    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
              <option [ngValue]="3">3 reserva por pagína</option>
              <option [ngValue]="5">5 reserva por pagína</option>
              <option [ngValue]="10">10 reserva por pagína</option>
            </select>
                </div>

            </form>
            <!-- Button trigger modal -->
        </div>
    </div>
</div>