<form class="col-12">
  <h4 class="text-center">Registrar un proveedor</h4>

  <div style="margin-top: 3%;" class="input-group mb-3 col-md-6 mx-auto">
    <div class="input-group-prepend ">
      <span class="input-group-text "><i class="fas fa-user"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Nombre" name="nombre" required />
  </div>
  <div class="input-group mb-3 col-md-6 mx-auto">
    <div class="input-group-prepend ">
      <span class="input-group-text "><i class="fas fa-user"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Apellido" name="apellido" required />
  </div>
  <div class="input-group mb-3 col-md-6 mx-auto">
    <div class="input-group-prepend ">
      <span class="input-group-text "><i class="fas fa-id-card"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Rut"  id="rut" name="rut" required />
  </div>
  <div class="input-group mb-3 col-md-6 mx-auto">
    <div class="input-group-prepend ">
      <span class="input-group-text "><i class="fas fa-at "></i></span>
    </div>
    <input type="email" class="form-control" placeholder="Correo" name="email" required />
  </div>
  <div class="input-group mb-3 col-md-6 mx-auto">
    <div class="input-group-prepend ">
      <span class="input-group-text "><i class="fas fa-phone-alt"></i></span>
    </div>
    <input type="number" class="form-control" placeholder="Telefono" name="telefono" required />
  </div>

  <div class="text-center">
    <button type="submit" style="margin-top: 2%;" class="col-sm-4 btn btn-info btn-block my-2 mx-auto"><i class="fas fa-sign-in-alt"></i>  Registrar </button>
  </div>
</form>
