
<div class="row col-md-12 main-section">
  <div class="col-md-12">
      <div class="main-card mb-3 bg-light card">
          <div class="card-header text-black">Lista de clientes
          </div>
          <div class="card-header text-white text-xl-center text-capitalize">
              <div class="row">
                  <div class="col-sm-4">
                      <input type="text" class="form-control bg-dark text-white" placeholder="Buscar...">
                  </div>
                  <button type="submit" class="btn btn-outline-primary bg-dark "><i class="fas fa-search"></i></button>
              </div>
          </div>
          <div class="table-responsive">
            <table class="table table-table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Fecha Nacimiento</th>
                  </tr>
                </thead>
                <tr *ngFor="let cliente of clientes" >
                  <td>{{cliente.idcliente}}</td>
                  <td>{{cliente.rut}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.apellido}}</td>
                  <td>{{cliente.telefono}}</td>
                  <td>{{ cliente.fechaNacimiento | date }}</td>
                </tr>
              </table>
          </div>
      </div>
  </div>
</div>
