

<header class="masthead" [ngStyle]="{'background-image': getConocenosImg()}">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                  <h1>Conocenos</h1>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <h4>Misión</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
          <br>
          <h4>Visión</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
          <br>
      </div>
  </div>
</div>

<app-footer></app-footer>
