

<header class="masthead" [ngStyle]="{'background-image': getConocenosImg()}">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                  <h1>Conócenos</h1>
              </div>
          </div>
      </div>
  </div>
</header>

<div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <h4>Misión</h4>
          <p>Somos el servicio automotriz con tecnología de vanguardia.
            Queremos ofrecerte el mejor servicio en mantención y solución a los problemas que se puedan presentar en tu vehículo porque sabemos lo que necesitas.
            Somos unos apasionados de los vehículos, así, como tú y queremos entregarte el mejor de los servicios, con mayor perzonalización y funcionalidad.</p>
          <br>
          <h4>Visión</h4>
          <p>Nuestro motor para este gran servicio eres tú, junto con todos los colaboradores queremos ofrecerte la mejor calidad en servicios y repuestos para tu vehículo.
            Trabajamos para obtener la excelencia en nuestro rubro. 
            Con responsabilidad y compromiso entregamos lo mejor de nosotros para que puedas movilizarte tranquilo y confiado.</p>
            <br>
          <p>Contamos con el equipo, conocimiento y certificación de nuestro servicio.</p>
          <br>
      </div>
  </div>
</div>

<app-footer></app-footer>
