
<div class="container" style="margin-top: 2%;">

    <h4>Pedidos Actuales</h4>
    <hr>
          <div class="table-responsive">
              <table class="align-middle mb-0 table  table-borderless table-striped table-hover">
                  <thead>
                      <tr>
                        <th >#</th>
                          <!-- <th>Rut</th> -->
                          <th>Nombre Proveedor</th>
                          <th>Empresa</th>
                          <th>fecha pedido</th>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Estado Pedido</th>
                          <th>Accion</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let pedido of pedidos| paginate: { itemsPerPage: 5, currentPage: p };let i = index">
                          <td>{{i+1}}</td>
                          <td>{{pedido.proveedor.nombre}} {{pedido.proveedor.apellido}}</td>
                          <td>{{pedido.proveedor.empresa}}</td>
                          <td>{{pedido.fechapedido}}</td>
                          <td> {{pedido.producto.nombre}}</td>
                          <td>{{pedido.cantidad}}</td>
                          <td *ngIf="pedido.estado == 0" style="margin-top: 5%;" class="mx-auto badge badge-pill badge-warning">Pendiente</td>
                          <td *ngIf="pedido.estado == 1" style="margin-top: 5%;" class="mx-auto badge badge-pill badge-info">Recibido</td>
                          <td *ngIf="pedido.estado == 2" style="margin-top: 5%;" class="mx-auto badge badge-pill badge-success">Listo</td>
                          <td *ngIf="pedido.estado == 3" style="margin-top: 5%;" class="mx-auto badge badge-pill badge-secondary">Con detalles</td>
                          <td>
                              <button type="button" class="btn btn-outline-info btn-sm" *ngIf="pedido.estado == 0" (click)="estadoPedido(pedido.idpedido)">
                                  Seleccionar
                                </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <div style="margin-top: 3%;" class="row">
        <div class="mx-auto">

          <pagination-controls (pageChange)="p = $event"  maxSize="9" previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>
        </div>
      </div>
<hr>



      <div class="container">
        <div class="container">
          <h4>Pedir a proveedores</h4>
          <hr>
        </div>

        <form>
          <div class="row ">
              <div class="col-md-6 mx-auto" id="dni-group">
                  <label>Productos</label>
                  <select [(ngModel)]="pedido.producto" name="proveedores" class="custom-select">
                    <option *ngFor="let producto of productos" [ngValue]="producto">{{producto.nombre}}</option>
                  </select>
              </div>

          </div>

          <div class="row">
              <div class="col-md-6 mx-auto" id="dni-group">
                  <label>Proveedor</label>
                  <select [(ngModel)]="pedido.proveedor" name="proveedores" class="custom-select">
                    <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.nombre}}{{proveedor.apellido}}  | {{proveedor.producto}}</option>
                  </select>
                </div>
          </div>
          <div class="row">
            <div class=" col-md-2 mx-auto">
              <label>Cantidad de productos</label>
              <input [(ngModel)]="pedido.cantidad" name="cantidad" class="form-control" type="number" placeholder="Cantidad">
          </div>
          </div>
          <br>
          <div class="text-center">
            <button type="submit" (click)="agregarPedido()" class="btn btn-success">
              Pedir
            </button>
          </div>

      </form>
      </div>


