
<div class="container" style="margin-top: 2%;">

    <h4>Pedidos Actuales</h4>
    <hr>
          <div class="table-responsive">
              <table class="align-middle mb-0 table  table-borderless table-striped table-hover">
                  <thead>
                      <tr>
                          <th>ID</th>
                          <th>Rut</th>
                          <th>Nombre Proveedor</th>
                          <th>Empresa</th>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Estado Pedido</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="text-center text-muted ">#345</td>
                          <td>12123456-K</td>
                          <td>Williams Ramos</td>
                          <td> General Motors</td>
                          <td>Motor WPR-500</td>
                          <td>3</td>
                          <td>
                              <button type="button" class="btn btn-outline-info btn-sm" (click)="estadoPedido()">
                                  Seleccionar
                                </button>
                          </td>
                      </tr>
                      <tr>
                          <td class="text-center text-muted ">#345</td>
                          <td>11895456-K</td>
                          <td>Maria Carvallo</td>
                          <td> Bridgestone</td>
                          <td>Ruedas ARO 30</td>
                          <td>16</td>
                          <td>
                            <button type="button" class="btn btn-outline-info btn-sm" (click)="estadoPedido()">
                              Seleccionar
                            </button>
                          </td>
                      </tr>
                      <tr>
                          <td class="text-center text-muted ">#345</td>
                          <td>15895453-K</td>
                          <td>Roberto Acuña</td>
                          <td> Ford</td>
                          <td>Tubos de escape</td>
                          <td>8</td>
                          <td>
                            <button type="button" class="btn btn-outline-info btn-sm" (click)="estadoPedido()">
                              Seleccionar
                            </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
<hr>



      <div class="container">
        <div class="container">
          <h4>Pedir a proveedores</h4>
          <hr>
        </div>

        <form>
          <div class="form-row container">
              <div class="col-md-6 " id="dni-group">
                  <label>Empresa</label>
                  <select class="form-control form-group" id="">
                      <option>General Motors</option>
                      <option>Fiat</option>
                      <option>Chevrolet</option>
                      <option>bridgestone</option>
                      <option>Lorem.</option>
                    </select>
              </div>
              <div class="col-md-6 " id="dni-group">
                  <label>Productos</label>
                  <select class="form-control form-group" id="">
                      <option>Aceite</option>
                      <option>Tubos de escape</option>
                      <option>Bujias</option>
                      <option>Lorem, ipsum.</option>
                      <option>Lorem.</option>
                    </select>
              </div>

          </div>

          <div class="form-row container">
              <div class="col-md-6 " id="dni-group">
                  <label>Proveedor</label>
                  <select class="form-control form-group" id="">
                      <option>Williams Ramos</option>
                      <option>Lorem, ipsum dolor.</option>
                      <option>Lorem ipsum dolor sit.</option>
                      <option>Lorem, ipsum.</option>
                      <option>Lorem.</option>
                    </select>
              </div>
              <div class=" col-md-6">
                  <label>Cantidad</label>
                  <input class="form-control" type="number" placeholder="Cantidad">
              </div>
          </div>
          <br>
          <div class="text-center">
            <button type="button" class="btn btn-success">
              Pedir
            </button>
          </div>

      </form>
      </div>


