<body class="col-12" style="background-image: url(/assets/img/background-img.jpg); background-size: auto; padding: 0; background-size: 100%; background-repeat: no-repeat; ">

    <div class="overflow-auto">
        <div class="modal-dialog modal-lg text-center">
            <div class="col-sm-8 main-section mx-auto">
                <div class="modal-content">
                    <div class="col-12">
                        <br>
                        <h5 class="text-black-50">Regístrate</h5>
                        <hr class="black">
                    </div>
                    <form class="col-12" #formRegister="ngForm" (ngSubmit)="signUp()" name="formRegister">

                        <!-- NOMBRE -->
                        <div class="input-group mb-3 col-md-10 mx-auto">
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="user.name" name="nombre" required minlength="2" #nombre="ngModel" />
                        </div>

                        <div class="mx-auto col-md-9 alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <div *ngIf="nombre.errors.required">
                                Tienes que ingresar el nombre
                            </div>
                            <div *ngIf="nombre.errors.minlength">
                                El nombre debe tener al menos 2 caracteres
                            </div>
                        </div>

                        <!-- CORREO -->
                        <div class="input-group mb-3 col-md-10 mx-auto">
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-at "></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="user.email" name="email" required email #email="ngModel" />
                        </div>

                        <div class="mx-auto col-md-9 alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                            <div *ngIf="email.errors.required">
                                Tienes que ingresar el email
                            </div>
                            <div *ngIf="email.errors.email">
                                Ingrese un correo válido
                            </div>
                        </div>

                        <!-- CONTRASEÑA -->
                        <div class="input-group mb-3 col-md-10 mx-auto">
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-lock "></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password" id="password1" name="password1" required minlength=8 #password1=ngModel/>
                        </div>

                        <div class="mx-auto col-md-9 alert alert-danger" *ngIf="password1.invalid && (password1.dirty || password1.touched)">
                            <div *ngIf="password1.errors.required">
                                Tienes que ingresar una contraseña
                            </div>
                            <div *ngIf="password1.errors.minlength">
                                La contraseña debe de tener un mínimo de 8 caracteres
                            </div>
                        </div>

                        <!-- CONTRASEÑA 2 -->
                        <div class="input-group mb-3 col-md-10 mx-auto ">
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-lock "></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Confirma tu contraseña" [(ngModel)]="user.password2" id="password2" name="password2" required minlength=8 #password2=ngModel/>
                        </div>

                        <div class="mx-auto col-md-9 alert alert-danger" *ngIf="password2.invalid && (password2.dirty || password2.touched)">
                            <div *ngIf="password2.errors.required">
                                Tienes que ingresar una contraseña
                            </div>
                            <div *ngIf="password2.errors.minlength">
                                La contraseña debe de tener un mínimo de 8 caracteres
                            </div>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input primary" name="empresaCheck" id="chkEmpresa">
                            <label class="text-black-50" for="chkEmpresa">¿Registras una empresa?</label>
                        </div>
                        <button type="submit" class="btn btn-primary my-2 " [disabled]="!formRegister.form.valid"><i class="fas fa-sign-in-alt"></i>  Registrar </button>
                    </form>
                    <div>
                        <a [routerLink]="['/login']" class="txt1">
                  ¿Ya tienes cuenta?
              </a>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>