<div class="modal-dialog modal-lg text-center">
    <div class="col-sm-10 main-section mx-auto">
        <div class="modal-content">
            <div class="col-12">
                <h5 class="text-white">Registrate</h5>
                <hr class="white">
            </div>
            <form class="col-12" (ngSubmit)="signUp()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" [(ngModel)]="user.name" name="name" placeholder="Nombre" />
                    </div>
                </div>
                <div class="form-row">
                    
                    <div class="form-group col-md-10 mx-auto ">
                        <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="user.email" name="email" required />
                    </div>
                </div>
                <div class="form-group col-md-10 mx-auto">
                    <input type="text" class="form-control" [(ngModel)]="user.username" placeholder="Nombre de usuario" name="username" required />
                </div>
                <div class="form-group col-md-10 mx-auto">
                    <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password" name="password" required />
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Registrar </button>
            </form>
            <div>
                <a href="login" class="txt1">
                  ¿Ya tienes cuenta?
              </a>
            </div>
        </div>
    </div>
</div>