<div class="text-center">
    <div class="col-lg-12">
        <div class="container">
            <div class="col-12">
                <h3>Registra tu Vehículo</h3>
                <hr class="white">
            </div>
            <form #formAuto="ngForm" (ngSubmit)="regVehiculo()">
                <div class="container">
                    <div class="form-row ">

                        <!-- MARCA VEHIcULO -->

                        <div class="input-group col-md-4">
                            <div class="container">
                                <label>Marca</label>
                            </div>
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-car "></i></span>
                            </div>
                            <input class="form-control" type="text" placeholder="Ej: Chevrolet" name="marca" [(ngModel)]="vehiculo.marca" required #marca="ngModel">
                            <div class="mx-auto col-md-9 alert alert-danger" *ngIf="marca.invalid && (marca.dirty || marca.touched)">
                                <div *ngIf="marca.errors.required">
                                    Tienes que ingresar la marca
                                </div>
                            </div>
                        </div>

                        <!-- MODELO VEHICULO -->

                        <div class="input-group col-md-4 ">
                            <div class="container ">
                                <label>Modelo</label>
                            </div>
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-car "></i></span>
                            </div>
                            <input class="form-control " type="text " placeholder="Modelo " name="modelo " [(ngModel)]="vehiculo.modelo " required #modelo="ngModel">
                            <div class="mx-auto col-md-9 alert alert-danger" *ngIf="modelo.invalid && (modelo.dirty || modelo.touched)">
                                <div *ngIf="modelo.errors.required">
                                    Tienes que ingresar el modelo
                                </div>
                            </div>
                        </div>

                        <!-- CARROCERIA VEHICULO -->

                        <div class="input-group col-md-4 ">
                            <div class="container ">
                                <label>Carrocería</label>
                            </div>
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-car "></i></span>
                            </div>
                            <!-- <input class="form-control " type="text " placeholder="Tipo auto " name="TipoAuto " [(ngModel)]="vehiculo.tipovehiculo "> -->
                            <select [(ngModel)]="vehiculo.tipovehiculo " name="tipoauto " class="custom-select ">
                              <option selected *ngFor="let tipo of tiposAutos ">
                                {{tipo}}
                              </option>
                            </select>
                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="form-row ">

                        <!-- AÑO VEHICULO -->

                        <div class="input-group col-md-4 col-xs-6 ">
                            <div class="container ">
                                <label>Año</label>
                            </div>
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-car "></i></span>
                            </div>
                            <input class="form-control " type="number " placeholder="Año " name="Anio " [(ngModel)]="vehiculo.anio " required #anio="ngModel">
                        </div>

                        <div class="mx-auto col-md-9 alert alert-danger" *ngIf="anio.invalid && (anio.dirty || anio.touched)">
                            <div *ngIf="anio.errors.required">
                                Tienes que ingresar el año del vehículo
                            </div>
                        </div>

                        <!-- PATENTE VEHICULO -->

                        <div class="input-group col-md-4 ">
                            <div class="container ">
                                <label>Patente</label>
                            </div>
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-car "></i></span>
                            </div>
                            <input style="text-transform: uppercase; " class="form-control " type="text " placeholder="Patente " name="patente " [(ngModel)]="vehiculo.patente " required minlength="6" maxlength="6" pattern="/^[a-zA-Z]{2}-/^[a-zA-Z0-9]{2}-/^[0-9]{2}" #patente="ngModel">
                        </div>
                        <div class="input-group col-md-4">
                            <div class="container">
                                <label>Kilometraje</label>
                            </div>
                            <div *ngIf="patente.errors.minlength">
                                La patente debe contener al menos 6 caracteres
                            </div>
                            <div *ngIf="patente.errors.maxlength">
                                La patente debe contener un máximo de 6 caracteres
                            </div>
                            <div *ngIf="patente.errors.pattern">
                                Esta patente es inválida
                            </div>
                        </div>

                        <!-- CHASIS VEHICULO -->

                        <div class="input-group col-md-4 ">
                            <div class="container ">
                                <label>Numero de chasís</label>
                            </div>
                            <div class="input-group-prepend ">
                                <span class="input-group-text "><i class="fas fa-tachometer-alt"></i></span>
                            </div>
                            <input class="form-control " type="number" placeholder="Kilometraje" name="nrochasis" [(ngModel)]="vehiculo.nrochasis">
                        </div>

                        <div class=" mx-auto col-md-9 alert alert-danger " *ngIf="chasis.invalid && (chasis.dirty || chasis.touched) ">
                            <div *ngIf="chasis.errors.required ">
                                Tienes que ingresar un Nro de chasis
                            </div>
                            <div *ngIf="chasis.errors.minlength ">
                                El Nro de chasis debe contener 17 caracteres
                            </div>
                            <div *ngIf="chasis.errors.maxlength ">
                                El Nro de chasis debe contener 17 caracteres
                            </div>
                            <div *ngIf="chasis.errors.pattern">
                                Este Nro de chasis es inválido
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
                <br>
                <div class="col-sm-6 mx-auto ">
                    <button type="submit " style="margin-top: 10px; " class="btn btn-success btn-block ">
                    Registrar vehículo
                  </button>
                </div>
            </form>
            <!-- Button trigger modal -->
        </div>
    </div>



    <form>
        <div class="form-group form-inline ">
            Buscar: <input class="form-control ml-2 " type="text " name="searchTerm " [(ngModel)]="service.searchTerm " />
            <span class="ml-3 " *ngIf="service.loading$ | async ">Cargando...</span>
        </div>

        <table class="table table-striped ">
            <thead>
                <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col" sortable="patente" (sort)="onSort($event)">Patente</th>
                    <th scope="col" sortable="marca" (sort)="onSort($event)">Marca</th>
                    <th scope="col" sortable="modelo" (sort)="onSort($event)">Modelo</th>
                    <th scope="col" sortable="nrochasis" (sort)="onSort($event)">Kilometraje</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars$ | async ">
                    <!-- <th scope="row ">{{ car.idvehiculo }}</th> -->
                    <td>
                        <ngb-highlight [result]="car.patente " [term]="service.searchTerm "></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="car.marca " [term]="service.searchTerm "></ngb-highlight>
                    </td>
                    <td>
                        <ngb-highlight [result]="car.modelo " [term]="service.searchTerm "></ngb-highlight>
                    </td>
                    <td>
                      <ngb-highlight [result]="car.nrochasis|number" [term]="service.searchTerm"></ngb-highlight>km
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm" (click)="borrarVehiculo(car)">Eliminar</button>
                  </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-between p-2 ">
            <ngb-pagination [collectionSize]="(total$ | async)! " [(page)]="service.page " [pageSize]="service.pageSize ">
            </ngb-pagination>

            <select class="custom-select " style="width: auto " name="pageSize " [(ngModel)]="service.pageSize ">
      <option [ngValue]="2 ">2 auto por pagina</option>
      <option [ngValue]="4 ">4 auto por pagina</option>
      <option [ngValue]="6 ">6 auto por pagina</option>
    </select>
        </div>

    </form>

</div>