<div class="container-fluid" *ngIf="admin">
    <!-- Page Heading -->

    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <hr/>

    <br>

    <div class="card">
        <br>
        <div style="margin: 35px;">
            <form class="form-inline">
                <div class="form-group hidden">
                    <div class="input-group">
                        <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!">
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group ml-2">
                    <div class="input-group">
                        <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate" [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
                        </div>
                    </div>
                </div>
                <button (click)="buscarencuesta1()" type=" button " class="btn btn-light " style="margin-left: 10px; ">Buscar</button>
            </form>
        </div>
        <!-- <hr/>
            <pre>From date model: {{ fromDate | json }}</pre>
            <pre>To date model: {{ toDate | json }}</pre></div> -->
        <br>
        <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin: 35px;">
            <h1 class="h3 mb-0 text-gray-800">Reporte de Satisfacción</h1>
            <!-- <h1 class="h3 mb-0 text-gray-800">Dashboard</h1> -->
            <a (click)="generarReporte()" class=" btn btn-dark text-white"><i class="fas fa-download fa-sm text-white-50"></i> Descargar en PDF</a>
        </div>

        <br>
        <div class="row" id="contenido">

            <div class="col-xl-3 col-md-6 mb-4 center ">
                <h5 class="h5 mb-0 text-gray-800 center">Servicio</h5>
                <p-chart type="doughnut" [data]="data"></p-chart>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 center">
                <h1 class="h5 mb-0 text-gray-800 center">Tiempo</h1>
                <p-chart type="doughnut" [data]="data2"></p-chart>
            </div>
            <div class="col-xl-3 col-md-6 mb-4 center">
                <h1 class="h5 mb-0 text-gray-800 center">Recomendación</h1>
                <p-chart type="doughnut" [data]="data3"></p-chart>
            </div>
        </div>
    </div>

    <br>
    <div class="card">
        <br>
        <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin: 35px;">
            <h1 class="h3 mb-0 text-gray-800">Reporte de Servicios Más Vendidos</h1>
            <!-- <h1 class="h3 mb-0 text-gray-800">Dashboard</h1> -->
            <a (click)="generarReporteServicios()" class=" btn btn-dark text-white"><i class="fas fa-download fa-sm text-white-50"></i> Descargar en PDF</a>
        </div>
        <br>
        <div id="reporteServicios">
            <div class="row">

                <div class="col-lg-12 mb-4 mx-auto" style="margin: 10px;">
                    <p-chart type="polarArea" [data]="dataBar" width="600" height="400px" [responsive]="true"></p-chart>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <br>
        <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin: 35px;">
            <h1 class="h3 mb-0 text-gray-800">Reporte de Egreso e Ingreso</h1>
            <!-- <h1 class="h3 mb-0 text-gray-800">Dashboard</h1> -->
            <a (click)="generarReporteIngresos()" class=" btn btn-dark text-white"><i class="fas fa-download fa-sm text-white-50"></i> Descargar en PDF</a>
        </div>
        <br>
        <div id="reporteIngresos">

            <div class="row">

                <div class="col-lg-12 mb-4 mx-auto" style="margin: 10px;">
                    <p-chart type="bar" [data]="dataBar2" width="600" height="400px" [responsive]="true"></p-chart>

                </div>
            </div>
        </div>
    </div>
    <br>
    <hr/>
    <br>
</div>

<div class="container-fluid" *ngIf="empleado">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
    </div>
    <app-inicioemp></app-inicioemp>
</div>
<div class="container-fluid" *ngIf="cliente||empresa">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
    </div>
    <app-inicio-clientes></app-inicio-clientes>
</div>

<div class="espacio"> </div>