<div class="row col-md-12 main-section">
    <div class="col-md-12">
        <div class="main-card mb-3 bg-light card">
            <div class="card-header text-black">Reservas
            </div>
            <div class="card-header text-white text-xl-center text-capitalize">
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control bg-dark text-white" placeholder="Buscar...">
                    </div>
                    <button type="submit" class="btn btn-outline-success bg-dark "><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-light table-borderless table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Marca</th>
                            <th class="text-center">Modelo</th>
                            <th class="text-center">Tipo</th>
                            <th class="text-center">Año</th>
                            <th class="text-center">Patente</th>
                            <th class="text-center">Nro Chasís</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">Nissan</td>
                            <td class="text-center">350Z</td>
                            <td class="text-center">Sedán</td>
                            <td class="text-center">2012</td>
                            <td class="text-center">CRDY96</td>
                            <td class="text-center">NF91GFAS2839FKSA</td>
                            <td class="text-center">
                                <button class="btn btn-danger btn-sm">Borrar</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">Audi</td>
                            <td class="text-center">TT</td>
                            <td class="text-center">Hatchback</td>
                            <td class="text-center">2017</td>
                            <td class="text-center">HPRF89</td>
                            <td class="text-center">FPRO5AS3212334DN</td>
                            <td class="text-center">
                                <button class="btn btn-danger btn-sm">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>