<div class="container">
  <h4 class="text-center">Ver Proveedores</h4>

  <table style="margin-top: 3%;" class="align-middle mb-0 table table-borderless table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Rut</th>
            <th>Nombre Proveedor</th>
            <th>Empresa</th>
            <th>Producto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center text-muted ">45</td>
            <td>12123456-K</td>
            <td>Williams Ramos</td>
            <td> General Motors</td>
            <td>Motores</td>
            <td>
                <button type="button " id="PopoverCustomT-1 " class="btn btn-success btn-sm ">Editar</button>
                <button style="margin-left: 1%;" type="button " id="PopoverCustomT-1 " class="btn btn-danger btn-sm ">Bloquear</button>
            </td>
        </tr>
        <tr>
            <td class="text-center text-muted ">345</td>
            <td>12123456-K</td>
            <td>Cristopher Saraos</td>
            <td> Castrol</td>
            <td>Aceites</td>
            <td>
                <button type="button " id="PopoverCustomT-1 " class="btn btn-success btn-sm ">Editar</button>
                <button style="margin-left: 1%;" type="button " id="PopoverCustomT-1 " class="btn btn-danger btn-sm ">Bloquear</button>
            </td>
        </tr>
    </tbody>
  </table>
</div>


