<div class="col-xl-8 col-md-8 mb-4 mx-auto" style="margin-top: 5%;">
  <div class="card border-left-primary shadow h-100 py-2">
    <div style="background-color: white;" class="card-header text-black"><h6>Encuesta de satisfaccion</h6>
    </div>
      <div class="card-body">

        <form class="container">

          <div style="margin-top: 1%;" class="container">

            <h5>¿Qué te pareció el servicio?</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="excelente" value="option1">
              <label class="form-check-label" for="excelente">
                Excelente
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="bueno" value="option1">
              <label class="form-check-label" for="bueno">
                Bueno
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="regular" value="option1">
              <label class="form-check-label" for="regular">
                Regular
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="malo" value="option1">
              <label class="form-check-label" for="malo">
                Malo
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="muymalo" value="option1">
              <label class="form-check-label" for="muymalo">
               Muy Malo
              </label>
            </div>

          </div>



          <div style="margin-top: 3%;" class="container">
            <h5>Califica el tiempo de tu reserva</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" id="rapido" value="option2">
              <label class="form-check-label" for="rapido">
                Rápido
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" id="normal" value="option2">
              <label class="form-check-label" for="normal">
                Normal
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio" id="lento" value="option2">
              <label class="form-check-label" for="lento">
                Lento
              </label>
            </div>

          </div>

          <div style="margin-top: 3%;" class="container">
            <h5>¿Recomendarías ServiExpress?</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio2" id="si" value="option2">
              <label class="form-check-label" for="si">
                Lo recomendaría
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio2" id="talvez" value="option2">
              <label class="form-check-label" for="talvez">
                Tal Vez
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="radio2" id="no" value="option2">
              <label class="form-check-label" for="no">
                No lo recomendaría
              </label>
            </div>

          </div>
          <div class="text-center">

            <button style="margin-top: 3%;" class="btn btn-primary">Enviar encuesta</button>
          </div>
        </form>

      </div>
  </div>
</div>

