<div class="col-xl-10 col-md-10 mb-4 mx-auto">
  <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" class="border-bottom-warning">
              <a ngbNavLink>Categorias</a>
              <ng-template ngbNavContent>

                <!-- VISTA DE CATEGORIAS -->
                <app-categorias></app-categorias>

              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="border-bottom-success">
              <a ngbNavLink>Productos</a>
              <ng-template ngbNavContent>

                <!-- VISTA DE PRODUCTOS -->
                <app-productos></app-productos>

              </ng-template>
            </li>
            <li [ngbNavItem]="3" class="border-bottom-info">
              <a ngbNavLink>Servicios</a>
              <ng-template ngbNavContent>
                <!-- VISTA DE SERVICIOS -->
                <app-servicios-n></app-servicios-n>
              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>

           </div>
        </div>
    </div>
