<div class="col-xl-10 col-md-10 mb-4 mx-auto">
  <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" routerLink='pedidosemp'  class="border-bottom-warning">
              <a ngbNavLink>Pedidos</a>
              <ng-template ngbNavContent>



              </ng-template>
            </li>
            <li [ngbNavItem]="2" routerLink='recibosemp' class="border-bottom-success">
              <a ngbNavLink>Recibos</a>
              <ng-template ngbNavContent>


              </ng-template>
            </li>
          </ul>

          <div [ngbNavOutlet]="nav" class="mt-2"></div>
           <router-outlet></router-outlet>
           </div>
        </div>
    </div>
