<div class="container table-responsive">
  <table class="align-middle mb-0 table table-borderless table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Rut</th>
            <th>Proveedor</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Estado recibo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center text-muted ">#345</td>
            <td>12123456-K</td>
            <td>Cristopher Saraos</td>
            <td>Motor HR-1110</td>
            <td>1</td>
            <td>
                <button type="button" class="btn btn-primary text-white btn-sm">
                    Seleccionar
                  </button>
            </td>
        </tr>
    </tbody>
  </table>
</div>
