<div class="container table-responsive">
  <table class="align-middle mb-0 table  table-borderless table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <!-- <th>Rut</th> -->
            <th>Nombre Proveedor</th>
            <th>fecha pedido</th>
            <!-- <th>Empresa</th> -->
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Estado Recibo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pedido of pedidos| paginate: { itemsPerPage: 5, currentPage: p };let i = index">
            <td>{{pedido.idpedido}}</td>
            <td>{{pedido.proveedor}}</td>
            <td>{{pedido.fechapedido}}</td>
            <td> {{pedido.producto}}</td>
            <td>{{pedido.cantidad}}</td>
            <td *ngIf="pedido.estado == 0" style="margin-top: 5%;" class="mx-auto badge badge-pill badge-warning">Pendiente</td>
            <td *ngIf="pedido.estado == 1" style="margin-top: 5%;" class="mx-auto badge badge-pill badge-info">Recibido</td>
            <td *ngIf="pedido.estado == 2" style="margin-top: 5%;" class="mx-auto badge badge-pill badge-success">Llegó Bien</td>
            <td *ngIf="pedido.estado == 3" style="margin-top: 5%;" class="mx-auto badge badge-pill badge-secondary">LLegó con detalles</td>
            <td>
                <button type="button" class="btn btn-outline-info btn-sm" *ngIf="pedido.estado == 1" (click)="estadoPedido(pedido.idpedido)">
                    Seleccionar
                  </button>
            </td>
        </tr>
    </tbody>


</table>

<form style="margin-top: 1%;" class="col-md-12">
  <div class="row float-right">
    <div class="col-sm-6">
      <select class="form-control" name="est" id="est" [(ngModel)]="est">
        <option [ngValue]="0">Pendiente</option>
        <option [ngValue]="1">Recibidos</option>
        <option [ngValue]="2">Llegó Bien</option>
        <option [ngValue]="3">Recibidos con detalles</option>
      </select>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-outline-info btn-sm" (click)="cambiarEstado(est)">Ok</button>
      <button style="margin-left: 10px;" type="submit" class="btn btn-outline-secondary btn-sm" (click)="getAllPedidos()">Mostrar todos</button>
    </div>
  </div>
  <!-- <input type="number" [(ngModel)]="est" name="est" > -->
</form>
</div>
  <div style="margin-top: 2%;" class="row">
    <div class="mx-auto">

      <pagination-controls (pageChange)="p = $event"  maxSize="9" previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>
    </div>
  </div>
