<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Progreso Reserva</h1>
    </div>

    <!-- Content Row -->
    <div class="container-fluid" style="opacity: .98;">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 text-center p-0 mt-3 mb-2">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                    <h2 id="heading">Progreso de tu reserva</h2>
                    <form id="msform">
                        <ul id="progressbar">
                            <li *ngIf="!reserva" class="active" id="reserva"><strong>Reserva</strong></li>
                            <li *ngIf="reserva" id="reserva"><strong>Reserva</strong></li>

                            <li *ngIf="!recibido" class="active" id="autoRecibido"><strong>Trabajando</strong></li>
                            <li *ngIf="recibido" id="autoRecibido"><strong>Trabajando</strong></li>

                            <li *ngIf="taller" class="active" id="autoTaller"><strong>Limpieza</strong></li>
                            <li *ngIf="!taller" id="autoTaller"><strong>Limpieza</strong></li>

                            <li *ngIf="terminando" class="active" id="terminandoServicio"><strong>Pagar Servicio</strong></li>

                            <li *ngIf="!terminando" id="terminandoServicio"><strong>Pagar Servicio</strong></li>

                            <li *ngIf="listo" class="active" id="finalizado"><strong>Servicio Completo</strong></li>
                            <li *ngIf="!listo" id="finalizado"><strong>Servicio Completo</strong></li>
                        </ul>
                        <div class="progress ">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar " aria-valuemin="0 " aria-valuemax="100 "></div>
                        </div> <br>

                        <button (click)="pagar()" *ngIf=" btnterminando " class="btn btn-warning text-dark ">Pagar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

</div>

<script>
    $("#menu-toggle ").click(function(e) {
        e.preventDefault();
        $("#wrapper ").toggleClass("toggled ");
    });
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').trigger('focus')
    })
</script>
<script>
    $(document).ready(function() {

        var current_fs, next_fs, previous_fs; //fieldsets
        var opacity;
        var current = 1;
        var steps = $("fieldset ").length;

        setProgressBar(current);

        $(".next ").click(function() {

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();

            //Add Class Active
            $("#progressbar li ").eq($("fieldset ").index(next_fs)).addClass("active ");

            //show the next fieldset
            next_fs.show();

            //hide
            //the current fieldset with style
            current_fs.animate({
                opacity: 0
            }, {
                step: function(now) {
                    // for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({


                        'display': 'none',
                        'position': 'relative'
                    });
                    next_fs.css({
                        'opacity': opacity
                    });
                },
                duration: 500
            });
            setProgressBar(++current);
        });

        $(".previous ").click(function() {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //Remove class active
            $("#progressbar li ").eq($("fieldset ").index(current_fs)).removeClass("active ");



            //show the previous fieldset
            previous_fs.show();

            //hide the current fieldset with style
            current_fs.animate({
                opacity: 0
            }, {
                step: function(now) {

                    //
                    //for making fielset appear animation
                    opacity = 1 - now;

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });
                    previous_fs.css({
                        'opacity': opacity
                    });
                },
                duration: 500
            });
            setProgressBar(--current);
        });

        function setProgressBar(curStep) {
            var percent = parseFloat(100 / steps) * curStep;
            percent = percent.toFixed();
            $(".progress-bar ")
                .css("width ", percent + "% ")
        }

        $(".submit ").click(function() {
            return false;
        })

    });
</script>