<h6 class="my-4 text-center">Listado de categorías</h6>
<div class="row">
    <div class="col-md-6" *ngFor="let categoria of categorias| paginate: { itemsPerPage: 4, currentPage: p }">
        <div class="card my-2 border-left-info">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-10">
                        {{categoria.nombre}} - {{categoria.descripcion}}
                    </div>
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-warning btn-circle text-center" [routerLink]="[categoria.idcategoria]"><i class="fas fa-edit"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="mx-auto">
        <pagination-controls (pageChange)="p = $event" maxSize="9" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>
<hr>
<h6 class="my-4 text-center">Agregar Categoría</h6>
<div class="container">
    <form>
        <div class="form-row">

            <!-- NOMBRE CATEGORIA -->
            <div class="input-group mb-3 col-md-4">
                <div class="input-group-prepend ">
                    <span class="input-group-text "><i class="fab fa-product-hunt"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre de la categoría" [(ngModel)]="categoria.nombre" name="nombre" required #nombre=ngModel/>
            </div>

            <div class="mx-auto col-md-9 alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required">
                    Tienes que ingresar una categoría
                </div>
            </div>

            <!-- DESCRIPCION CATEGORIA -->
            <div class="input-group mb-3 col-md-6">
                <div class="input-group-prepend ">
                    <span class="input-group-text "><i class="fab fa-product-hunt"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Descripcion de la categoria" [(ngModel)]="categoria.descripcion" name="descripcion" required #descripcion=ngModel/>
            </div>

            <div class="mx-auto col-md-9 alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                <div *ngIf="descripcion.errors.required">
                    Tienes que ingresar una descripción
                </div>
            </div>

            <div class="col-md-2">
                <button type="submit" class="btn btn-success" (click)="agregarCategoria()" *ngIf="!categoria.idcategoria else elseBLock">Agregar</button>
            </div>
            <ng-template #elseBLock>
                <button type="submit" class="btn btn-success" (click)="actCategoria()">Actualizar</button>
            </ng-template>

        </div>
    </form>
</div>